.text {
  line-height: 30px;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.btn {
  color: #fcf5e7;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_bg.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.4em;
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  color: #fcf5e7;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: auto;
  left: 30px;
  margin-top: 20px;
}
.btn:before {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_left.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  left: -26px;

  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
}

.btn:after {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_right.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  right: -27px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
}

@media (max-width: 800px) {
  .btn {
    left: 0;
  }
}
