.container {
  margin: 50px 130px;
  color: #fcf5e7;
}
.textLight {
  color: #4a2b10;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 120px;
  margin: 50px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 120px;
  margin: 50px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

@media (max-width: 1000px) {
  .container {
    margin: 50px 50px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
    margin: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
}
