.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.wholeContainer {
  padding: 100px;
}
.wholeContainerLight {
  padding: 100px;
}
.wholeContainerLight p,
.wholeContainerLight span {
  color: #fcf5e7;
}
.itemContainer {
  display: grid;
  grid-template-rows: 250px 80px 50px;
  width: 200px;
}
.image {
  height: 250px;
  border: 2px solid #a85;
  position: relative;
}
.image img {
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.editBtn {
  color: black;
}
.title p {
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 30px;
  font-size: 30px;
  cursor: pointer;
}
.addbtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fcf5e7;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_bg.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  height: 46px;
  width: 300px;
  margin: auto;
  align-items: center;
  font-family: bluu_nextbold, Crimson Text, serif;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  margin: 0 20px 50px 20px;
}
.addbtn::before {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_left.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  left: -26px;
  bottom: 0;
  right: 100%;
}

.addbtn::after {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_right.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  right: -27px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
}
@media (max-width: 500px) {
  .addbtn {
    margin-left: -20px;
  }
}
