.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.image {
  border: 1px solid #a85;
  height: 300px;
  width: 250px;
  position: relative;
}
.image img {
  box-sizing: border-box;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}
.details {
  height: 150px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  height: 70px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a85;
  font-weight: bold;
  font-size: 20px;
  height: 30px;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fcf5e7;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_bg.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  height: 21px;
  margin: 0 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  padding: 10px 15px;
 
  position: relative;
}
.btn:after {
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_right.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 20px;
  height: 41px;
  right: -20px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
}
.btn:before {
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_left.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 21px;
  height: 41px;
  left: -20px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
}

.productsContainer {
  display: flex;
  margin: 50px 120px;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  white-space: nowrap;
}

.filters {
  font-size: 20px;
  width: 100%;
}
.input {
  border-radius: 50%;
  color: black;
}
.loadBtn {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: #fcf5e7;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_bg.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  border: none;
  height: 46px;
  margin: 0 26px;
  padding: 10px;
 
  font-size: 19px;
  font-weight: 600;
  line-height: 1.4em;
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  color: #fcf5e7;
 
  font-weight: 600;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
}
.loadBtn:after {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_right.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  right: -27px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loadBtn:before {
  content: "";
  background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_left.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 1px) 100%;
  width: 27px;
  height: 46px;
  display: block;
  position: absolute;
  left: -26px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loadContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.sortContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  white-space: nowrap;
}

.sorts {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  gap: 20px;
}
.radioInput {
  border-radius: 50%;
  color: black;
}

.sortingAndFiltering {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.searctInput {
  background-color: black;
  color: #a85;
  border: 1px solid #a85;
  height: 30px;
  width: 100%;
  font-size: 20px;
}

.toggle {
  display: none;
}
.heart {
  display: flex;
  float: right;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.heartNotFull {
  font-size: 40px;
  padding: 15px;
}
.heartFull {
  font-size: 30px;
  margin: 20px;
}
@media (max-width: 800px) {
  .sortingAndFiltering {
    display: none;
  }
  .radioInput {
    display: block;
  }
  .toggle {
    display: block;
    margin: 40px;
    font-size: 20px;
    
  }
  .toggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .productsContainer {
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 50px;
  }
  .image {
    height: fit-content;
    width: 250px;
  }
  .image img {
    width: 250px;
  }
  .details {
    width: 250px;
  }
  .container {
    width: 250px;
    height: fit-content;
  }
  .btn {
    width: 100px;
  }
  .title {
    font-size: 20px;
    height: 80px;
  }
  .price {
    padding: 20px;
  }
  .textContainerResp {
    padding: 50px;
  }
  .toggleFilterBtn {
    display: flex;
    font-weight: bold;
    color: #fcf5e7;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0000;
    background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_bg.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    border: none;
    height: 21px;
    margin: 0 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 15px;
   
    position: relative;
  }
  .toggleFilterBtn:after {
    background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_right.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 20px;
    height: 41px;
    right: -20px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
  }
  .toggleFilterBtn:before {
    background-image: url("https://harrypottershop.co.uk/cdn/shop/t/22/assets/btn_small_left.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 21px;
    height: 41px;
    left: -20px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
  }

  .allSpecial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
