@font-face {
  font-family: "Cormorant";
  src: url("../src/fonts/cormorant/cormorant_medium_macroman/Cormorant-Medium-webfont.woff")
    format("woff");
}

body {
  font-family: "Cormorant" !important;
}

* {
  margin: 0;
  text-decoration: none;
}
a {
  color: #fcf5e7;
}
